@import "./animation.scss";
@import "./variables.scss";

@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Regular.eot");
  src: url("../fonts/vazir/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Regular.woff2") format("woff2"), url("../fonts/vazir/Vazir-Regular.woff") format("woff"),
    url("../fonts/vazir/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Bold.eot");
  src: url("../fonts/vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Bold.woff2") format("woff2"), url("../fonts/vazir/Vazir-Bold.woff") format("woff"),
    url("../fonts/vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Black.eot");
  src: url("../fonts/vazir/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Black.woff2") format("woff2"), url("../fonts/vazir/Vazir-Black.woff") format("woff"),
    url("../fonts/vazir/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Medium.eot");
  src: url("../fonts/vazir/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Medium.woff2") format("woff2"), url("../fonts/vazir/Vazir-Medium.woff") format("woff"),
    url("../fonts/vazir/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Light.eot");
  src: url("../fonts/vazir/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Light.woff2") format("woff2"), url("../fonts/vazir/Vazir-Light.woff") format("woff"),
    url("../fonts/vazir/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir/Vazir-Thin.eot");
  src: url("../fonts/vazir/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Thin.woff2") format("woff2"), url("../fonts/vazir/Vazir-Thin.woff") format("woff"),
    url("../fonts/vazir/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSans/IRANSansWeb(FaNum)_Black.woff") format("woff");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSans/IRANSansWeb(FaNum)_Bold.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans/IRANSansWeb(FaNum)_Medium.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IRANSans/IRANSansWeb(FaNum)_Light.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSans/IRANSansWeb(FaNum)_UltraLight.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans/IRANSansWeb(FaNum).woff") format("woff");
}

$primary-font: "Vazir", "Roboto", Tahoma, Verdana, Geneva, sans-serif, "-apple-system", "Helvetica Neue", Helvetica,
  Arial;

.primary-font {
  font-family: $primary-font;
}

div {
  font-family: $primary-font !important;
}

.shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}

.box {
  padding: 18px;
  border: solid 1px #eeeeee;
}

.q-card {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
  //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.flex-scroll-area {
  width: 0;
  min-width: 100%;
  max-width: 100%;
  height: 1px;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  // overflow-x: hidden;
  // overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  background-color: #f3f3f3;
  font-size: 12px;
}

a,
.no-underline,
.router-link-active {
  color: unset !important;
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

input {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

input::placeholder {
  font-family: Vazir;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #b4b4b4 !important;
}

/* *************  sidebar  ************* */
.by-sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  width: 60px !important;
  border-radius: 0px;

  .by-icon {
    display: block;
    margin: 25px auto;
    color: rgba(17, 17, 19, 0.4);
    size: 10px;
  }
}

/* *************  buttons  ************* */
.btn--save {
  background-color: #2563eb !important;
  border-color: #2563eb;
  color: #fff !important;
  height: 40px;
  width: 155px;
  border-radius: 6px;
  padding: 8px, 16px, 8px, 12px;
}
.btn--cancel {
  background-color: #ffffff !important;
  border: 1px solid #e5e7eb !important;
  color: #374151 !important;
  height: 40px;
  width: 53px;
  border-radius: 6px;
  padding: 8px, 16px, 8px, 16px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}

/* *************  by-sheet  ************* */
.bySheet {
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.0005);
  border-radius: 8px;

  .subtitle {
    font-family: Vazir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #202223;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hasBorder {
    border-bottom: 1px solid #c4c4c4;
  }

  /* *************  customise fields  ************* */
  .byField {
    position: relative;

    .legend {
      position: absolute;
      background: white;
      right: 10px;
      top: -10px;
      padding: 0 4px;
      z-index: 1;
      color: #202223;
      font-family: Vazir;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
    }
    .isDisabled {
      color: #b4b4b4;
    }
  }

  /* *************  by-text  ************* */
  // .byText {
  // }

  /* *************  by-Textarea  ************* */
  // .byTextarea {
  // }

  /* *************  by-Textarea  ************* */
  .byCheckbox {
    .v-label {
      text-align: right;
      color: #202223;
      font-family: Vazir;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
  }

  /* *************  by-uploader  ************* */
  .byUploader {
    border: 2px dashed #c4c4c4;
    display: flex;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

    .container {
      border: none;
      background: none;
      padding: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  /* *************  by-app-header  ************* */
}
