@import "./animation.scss";
@import "./variables.scss";

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSansWeb(FaNum)_Black.woff") format("woff");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IRANSansWeb(FaNum)_Light.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSansWeb(FaNum)_UltraLight.woff") format("woff");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb(FaNum).woff") format("woff");
}

$primary-font: "IRANSans", "Roboto", Tahoma, Verdana, Geneva, sans-serif, "-apple-system", "Helvetica Neue", Helvetica,
  Arial;

.primary-font {
  font-family: $primary-font;
}

div {
  font-family: $primary-font !important;
}

.shadow {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}

.box {
  padding: 18px;
  border: solid 1px #eeeeee;
}

.q-card {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
  //box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.flex-scroll-area {
  width: 0;
  min-width: 100%;
  max-width: 100%;
  height: 1px;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  background-color: #f3f3f3;
  font-size: 12px;
}

a,
.no-underline,
.router-link-active {
  color: unset !important;
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* *************  sidebar  ************* */
.by-sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  width: 60px !important;
  border-radius: 0px;

  .by-icon {
    display: block;
    margin: 20px auto;
    color: rgba(17, 17, 19, 0.4);
  }
}

/* *************  buttons  ************* */
.btn--save {
  background-color: #2563eb !important;
  border-color: #2563eb;
  color: #fff !important;
  height: 40px;
  width: 155px;
  border-radius: 6px;
  padding: 8px, 16px, 8px, 12px;
}
.btn--cancel {
  background-color: #ffffff !important;
  border: 1px solid #e5e7eb !important;
  color: #374151 !important;
  height: 40px;
  width: 53px;
  border-radius: 6px;
  padding: 8px, 16px, 8px, 16px;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}

/* *************  by-sheet  ************* */
.bySheet {
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.0005);
  border-radius: 8px;

  .subtitle {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #202223;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hasBorder {
    border-bottom: 1px solid #c4c4c4;
  }
  .bySheetBody {
    margin: 20px;
  }

  /* *************  by-text  ************* */
  // .byText {

  // }

  /* *************  by-app-header  ************* */
  
}
